@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
     font-family: 'Open Sans', sans-serif;
     margin: 0px;
     padding: 0px;
     font-size: 15px;
}
 a, a:hover, a:focus{
     text-decoration: none;
}
 ul{
     margin: 0px;
     padding: 0px;
}
 li{
     list-style: none;
}
 img{
     max-width: 100%;
}
 h1, h2, h3, h4, h5, h6{
     font-weight: 700;
}
 h2{
     font-size: 44px;
     margin-bottom: 15px;
}
 h3{
     font-size: 24px;
     line-height: 32px;
     font-weight: 600;
}
 .container{
     position: relative;
}
 .lead{
     font-weight: 500;
}
 .custom-section-margin{
     margin-top: 100px;
     margin-bottom: 50px;
}
 .custom-btn{
     border-color: #0e1a60 !important;
     color: #0e1a60 !important;
}
 .custom-btn:hover{
     background: #0e1a60 !important;
     color: #ffffff !important;
}
 .custom-btn-reverse{
     background: #0e1a60 !important;
     color: #ffffff !important;
}
 .custom-btn-reverse:hover{
     background: #fff !important;
     border-color: #0e1a60 !important;
     color: #0e1a60 !important;
}
/*Header*/
 header {
     background: #000000;
     width: 100%;
}
 header .navbar-expand-lg .navbar-nav .nav-link {
     color: #FFF;
     font-size: 16px;
     font-weight: 600;
     text-transform: uppercase;
     padding: 10px 24px;
}
 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
     color: #FFF;
}
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
     color: #FFF;
}
/*Footer */
 footer {
     background: #2f3b55e8;
     color: #FFF;
}
 .footer-address li i {
     position: absolute;
     left: 0;
     top: 10px;
     font-size: 22px;
}
 .footer-address li {
     position: relative;
     padding-left: 35px;
}
 .footer-address li a {
     color: #FFF;
}
 .footer-widget h3 {
     margin-bottom: 30px;
}
 .footer-menu li a {
     color: #FFF;
     font-size: 16px;
     margin-bottom: 8px;
     display: inline-block;
}
 @media (min-width:992px) and (max-width:1400px){
     header .navbar-expand-lg .navbar-nav .nav-link {
         padding: 10px 11px;
         font-size: 14px;
    }
}
 @media (max-width:991px){
     .navbar-toggler-icon {
         background: #FFF;
         padding: 20px;
    }
     .navbar-toggler:focus {
         box-shadow: none;
    }
     .banner-text-wrap h1 {
         font-size: 39px;
    }
     .hero-banner {
         padding: 137px 0px;
         min-height: auto;
    }
     .contact-section {
         padding: 40px 0px;
    }
     footer {
         padding: 40px;
    }
}
 .section-divider{
     margin-top: 100px;
     margin-bottom: 100px;
}
 .btn {
     font-size: 14px;
     color: #ffffff;
     background-color: #EB3E31;
     font-family: "Poppins", sans-serif;
     -webkit-border-radius: 21px;
     -moz-border-radius: 21px;
     border-radius: 21px;
     height: 42px;
     line-height: 40px;
     padding: 0 25px;
     text-transform: uppercase;
     font-weight: 500;
     border: 1px solid transparent;
}
 .btn:hover {
     background: #252e45;
     color: #ffffff;
}
 .btn.btn-border {
     border: 1px solid #ffffff;
     background: transparent;
}
 .btn.btn-border:hover {
     background: #ffffff;
     color: #252e45;
}
 .btn.btn-half-square {
     background: #ff6600;
     border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}
/* * Navbar */
 .navbar-brand {
     padding-top: .75rem;
     padding-bottom: .75rem;
     font-size: 1rem;
     background-color: rgba(0, 0, 0, .25);
     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
 .navbar .navbar-toggler {
     top: .25rem;
     right: 1rem;
}
 .navbar .form-control {
     padding: .75rem 1rem;
     border-width: 0;
     border-radius: 0;
}
 .form-control-dark {
     color: #fff;
     background-color: rgba(255, 255, 255, .1);
     border-color: rgba(255, 255, 255, .1);
}
 .form-control-dark:focus {
     border-color: transparent;
     box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
 .category > div{
     cursor: pointer;
}
